
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb


venv/
ENV/
env/
.venv/

*.cfg


build/
dist/
*.egg-info/
*.egg
*.whl

# PyInstaller
*.manifest
*.spec


.vscode/





*.log



*.sqlite3
*.db
*.json
*.cache


.env
.env.*.local



